/*- Estilos Cursor */

.CursorThumb .cursor {
    width: 65px;
    height: 65px;
    visibility: hidden;
    border: 1px solid #9e9e9c;
    border-radius: 50%;
    position: absolute;
    z-index: 99999999999;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation: cursorAnim 0.5s infinite alternate;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #9e9e9c;
    border-radius: 1px;
    opacity: 0.5;
    top: 18px;
    left: 18px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation: rotateAnim 2s infinite alternate;
    animation: rotateAnim 2s infinite alternate;
}

.cursor::before {
    content: unset !important;
}

@keyframes rotateAnim {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid #9e9e9c;
}

.hovered {
    border: none;
    width: 110px;
    background: #e1e1e1;
    height: 110px;
}

.hovered::after {
    content: unset;
}

.hovered::before {
    content: 'Open' !important;
    position: absolute;
    top: 50%;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    left: 50%;
    color: #020a13 !important;
    transform: translate(-50%, -50%);
}